/*
*
*
*	links
*
*
*/



a,
a:visited,
li a.active{
	color: #b21f88;
	text-decoration: underline;
	}

a:hover {color:#e37100;}
a:active {color:#d76c01;} 
a:focus{outline: none;}
a img{border: none;}

#site-title a:hover,
#site-slogan a:hover,
.block h2.title a{
	text-decoration:none;
}

.outsidecontent a,
.outsidecontent li a.active,
#header-images a,
#navigation-secondary a{
	color:white;
	text-decoration:none;
}

.outsidecontent#topBar a{
	color:yellow;
}


